/* Reset and Base Styles */
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /*colores principales*/
  --verde-obscuro: #3c6e47;
  --verde-claro: #77a96f;
  --celeste-claro: #a9c5d0ae;
  --azul-claro: #92baf2;
  --azul: #1c65ca;
  --azul-obscuro: #0b2c5c;
  --arena: #efe3d4;
  --gris-claro: #ecedee;
  --gris-obscuro: #2e363c;

  /*colores para botones*/
  --celeste: #63a9e6;
  --celeste-hover: #377CC7;
  --texto-boton: #FFFFFF;

  /*colores para cards*/
  --card-arena: #f6efdd;


  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;

  --transition: all 0.3s ease;
}

body {
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 20px;
}

.holder {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
}



/*Navbar*/
.navbar {
  background: var(--verde-obscuro);
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 16px 0;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 32px;
}

.nav-links a {
  color: var(--gris-claro);
  text-decoration: none;
  font-weight: 500;
  display: block;
  text-align: center;
  padding: 8px 14px;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: var(--verde-claro);
}

.nav-links a.activo {
  color: var(--azul-obscuro);
  font-weight: 700;
}

.logo {
  font-family: var(--font-heading);
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--arena);
}


/* Tips Section */
.tips {
  background-color: var(--arena);
  padding: 80px 0;
}

.section-header {
  text-align: center;
  margin-bottom: 60px;
}

.section-header h2 {
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.2;
  font-size: 42px;
  color: var(--verde-obscuro);
  margin-bottom: 16px;
  margin-top: 20px;
}

.section-header p {
  color: var(--verde-claro);
  font-size: 18px;
  opacity: 0.7;
}

/* cards*/
.tips-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.card {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: white;
  transition: var(--transition);
  cursor: pointer;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.16);
}

.card-text {
  color: var(--gris-obscuro);
  opacity: 0.8;
  font-size: 16px;
}

.tip-card {
  padding: 32px 24px;
  text-align: center;
}

.tip-card i {
  font-size: 48px;
  color: var(--verde-obscuro);
  margin-bottom: 16px;
}

.card-subtitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}

.card-first-subtitle {
  color: var(--gris-obscuro);
  font-family: var(--font-heading);
}

.card-second-subtitle {
  color: var(--verde-obscuro);
  font-size: 18px;
}

.card-text {
  font-family: var(--font-body);
  color: var(--gris-obscuro);
  font-size: 14px;
}



/* Footer */
footer {
  background-color: var(--azul-obscuro);
  color: var(--gris-claro);
  clear: both;
  text-align: center;
  padding: 10px 0;
}

@media (max-width: 768px) {
  .fila {
    flex-direction: column;
  }
}