body {
    font-family: "Segoe UI", Roboto, sans-serif;
}

.navbar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.carousel-caption h5 {
    color: #fff;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    font-size: 1.8rem;
}

    footer a {
    color: #00b4d8;
    transition: 0.3s;
}

footer a:hover {
    color: #90e0ef;
}