/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /*colores principales*/
  --verde-obscuro: #3c6e47;
  --verde-claro: #77a96f;
  --celeste-claro: #a9c5d0ae;
  --azul-claro: #92baf2;
  --azul: #1c65ca;
  --azul-obscuro: #0b2c5c;
  --arena: #efe3d4;
  --gris-claro: #ecedee;
  --gris-obscuro: #2e363c;

  /*colores para botones*/
  --celeste: #63a9e6;
  --celeste-hover: #377CC7;
  --texto-boton: #FFFFFF;

  /*colores para cards*/
  --card-arena: #f6efdd;


  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;

  --transition: all 0.3s ease;
}

body {
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 20px;
}

.holder {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
}



/*Navbar*/
.navbar {
  background: var(--verde-obscuro);
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 16px 0;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 32px;
}

.nav-links a {
  color: var(--gris-claro);
  text-decoration: none;
  font-weight: 500;
  display: block;
  text-align: center;
  padding: 8px 14px;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: var(--verde-claro);
}

.nav-links a.activo {
  color: var(--azul-obscuro);
  font-weight: 700;
}

.logo {
  font-family: var(--font-heading);
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--arena);
}


/* Contacto Section */

.contacto{
    background-color: var(--celeste-claro);
    padding: 80px 0;
}

.section-header {
  text-align: center;
  margin-bottom: 60px;
}

.section-header h2 {
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.2;
  font-size: 42px;
  color: var(--azul-obscuro);
  margin-bottom: 16px;
  margin-top: 20px;
}

.contacto-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.formulario {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.formulario input,
.formulario textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 12px;
  border: 0px;
}

.formulario input:focus,
.formulario textarea:focus {
  outline: none;
  box-shadow: 0 0 5px var(--celeste);
}

.fila {
  display: flex;
  gap: 24px;
  margin-bottom: 16px;
}

.campo {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.formulario button {
  display: inline-block;
  padding: 14px 32px;
  border-radius: 60px;
  text-decoration: none;
  font-weight: 600;
  font-family: var(--font-heading);
  transition: var(--transition);
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 0 12px;
  background-color: var(--azul-claro);
  color: var(--azul-obscuro);
}

.formulario button:hover {
  background-color: rgba(73, 99, 165, 0.3);
  border: 1px solid var(--azul-obscuro);
  transform: translateY(-2px);
}

.info {
  flex: 1;
  background-color: var(--arena);
  padding: 24px;
  border-radius: 12px;
  align-content: center;
  text-align: center;
}

.info h3 {
  font-size: 26px;
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  color: var(--azul-obscuro);
}

.info p {
  margin-bottom: 12px;
}


/* Footer */
footer {
  background-color: var(--azul-obscuro);
  color: var(--gris-claro);
  clear: both;
  text-align: center;
  padding: 10px 0;
}

@media (max-width: 768px) {
  .fila {
    flex-direction: column;
  }
}