/* Contacto Section */

.contacto{
    background-color: var(--celeste-claro);
    padding: 80px 0;
}

.section-header {
  text-align: center;
  margin-bottom: 60px;
}

.section-header h2 {
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.2;
  font-size: 42px;
  color: var(--azul-obscuro);
  margin-bottom: 16px;
  margin-top: 20px;
}

.contacto-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.formulario {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.formulario input,
.formulario textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 12px;
  border: 0px;
}

.formulario input:focus,
.formulario textarea:focus {
  outline: none;
  box-shadow: 0 0 5px var(--celeste);
}

.fila {
  display: flex;
  gap: 24px;
  margin-bottom: 16px;
}

.campo {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.formulario button {
  display: inline-block;
  padding: 14px 32px;
  border-radius: 60px;
  text-decoration: none;
  font-weight: 600;
  font-family: var(--font-heading);
  transition: var(--transition);
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 0 12px;
  background-color: var(--azul-claro);
  color: var(--azul-obscuro);
}

.formulario button:hover {
  background-color: rgba(73, 99, 165, 0.3);
  border: 1px solid var(--azul-obscuro);
  transform: translateY(-2px);
}

.info {
  flex: 1;
  background-color: var(--arena);
  padding: 24px;
  border-radius: 12px;
  align-content: center;
  text-align: center;
}

.info h3 {
  font-size: 26px;
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  color: var(--azul-obscuro);
}

.info p {
  margin-bottom: 12px;
}


@media (max-width: 768px) {
  .fila {
    flex-direction: column;
  }
}