
.buenos-aires {
  background-color: var(--celeste-claro);
  padding: 80px 0;
  flex: 1;
}

.section-header {
  text-align: center;
  margin-bottom: 60px;
}

.section-header h2 {
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.2;
  font-size: 42px;
  color: var(--azul-obscuro);
  margin-bottom: 16px;
  margin-top: 20px;
}

.section-header p {
  color: var(--azul-obscuro);
  font-size: 18px;
  opacity: 0.7;
}

.ba-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.card {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: white;
  transition: var(--transition);
  cursor: pointer;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.16);
}

.destino-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.destino-content {
  padding: 24px;
}

.tipo-destino {
  display: inline-block;
  padding: 4px 12px;
  background-color: var(--celeste-claro);
  color: var(--azul);
  font-size: 12px;
  border-radius: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.destino-content h3 {
  color: var(--gris-obscuro);
  font-size: 26px;
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 12px;
}

.card-text {
  color: var(--gris-obscuro);
  opacity: 0.8;
  font-size: 16px;
}

.destino-info {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--verde-obscuro);
  font-weight: 500;
}

.section-buttons {
  text-align: center;
  margin-top: 40px;
}

.tip-card {
  padding: 32px 24px;
  text-align: center;
}

.tip-card i {
  font-size: 48px;
  color: var(--verde-obscuro);
  margin-bottom: 16px;
}