@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /*colores principales*/
  --verde-obscuro: #3c6e47;
  --verde-claro: #77a96f;
  --celeste-claro: #a9c5d0ae;
  --azul-claro: #92baf2;
  --azul: #1c65ca;
  --azul-obscuro: #0b2c5c;
  --arena: #efe3d4;
  --gris-claro: #ecedee;
  --gris-obscuro: #2e363c;

  /*colores para botones*/
  --celeste: #63a9e6;
  --celeste-hover: #377CC7;
  --texto-boton: #FFFFFF;

  /*colores para cards*/
  --card-arena: #f6efdd;


  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;

  --transition: all 0.3s ease;
}

body {
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 20px;
}

.holder {
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}



/*Navbar*/
.navbar {
  background: var(--verde-obscuro);
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 16px 0;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 32px;
}

.nav-links a {
  color: var(--gris-claro);
  text-decoration: none;
  font-weight: 500;
  display: block;
  text-align: center;
  padding: 8px 14px;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: var(--verde-claro);
}

.nav-links a.activo {
  color: var(--azul-obscuro);
  font-weight: 700;
}

.logo {
  font-family: var(--font-heading);
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--arena);
}



/* Hero seccion*/
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-image: url('../img/header.jpg');*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 80px;
  min-height: 100vh;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(50, 66, 76, 0.371);
}

.hero-content {
  position: relative;
  text-align: center;
  z-index: 1;
  color: var(--gris-claro);
  max-width: 960px;
  margin: 0 auto;
}

.hero-title {
  margin-bottom: 24px;
  text-shadow: 2px 2px 4px rgba(5, 41, 4, 0.588);
  font-weight: 700;
}

.hero-subtitle {
  margin-bottom: 36px;
  font-size: 18px;
  opacity: 0.9;
}

.hero-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  display: inline-block;
  padding: 14px 32px;
  border-radius: 60px;
  text-decoration: none;
  font-weight: 600;
  font-family: var(--font-heading);
  transition: var(--transition);
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 0 12px;
}

.primer-btn {
  background-color: var(--verde-claro);
  color: var(--gris-obscuro);
}

.primer-btn:hover {
  background-color: var(--verde-obscuro);
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(164, 214, 94, 0.4);
}

.segundo-btn {
  background-color: rgba(44, 48, 39, 0.25);
  color: var(--texto-boton);
  border: 2px solid var(--texto-boton);
}

.segundo-btn:hover {
  background-color: var(--texto-boton);
  transform: translateY(-2px);
  color: var(--gris-obscuro);
}

.tercer-btn {
  background-color: var(--azul-claro);
  color: var(--azul-obscuro);
}

.tercer-btn:hover {
  background-color: rgba(73, 99, 165, 0.3);
  border: 2px solid var(--azul-obscuro);
  transform: translateY(-2px);
}




/* seccion sobre BAirWays */
.about {
  padding: 80px 0;
  background: var(--arena);
}

.about-content {
  text-align: center;
}

.about-content h2 {
  color: var(--verde-obscuro);
  margin-bottom: 24px;
  font-size: 48px;
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.2;
}

.about-content p {
  color: var(--gris-obscuro);
  max-width: 800px;
  margin: 0 auto 60px;
  font-size: 20px;
}

.about-caracteristicas {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  margin-top: 60px;
}

.caracteristica {
  text-align: center;
}

.caracteristica h3 {
  color: var(--verde-claro);
  margin-bottom: 16px;
  font-size: 32px;
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.2;
}

.caracteristica p {
  color: var(--gris-obscuro);
  opacity: 0.8;
}




/* seccion Bs As y tips*/
.buenos-aires,
.tips {
  background-color: var(--celeste-claro);
  padding: 80px 0;
}

.section-header {
  text-align: center;
  margin-bottom: 60px;
}

.section-header h2 {
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.2;
  font-size: 42px;
  color: var(--azul-obscuro);
  margin-bottom: 16px;
  margin-top: 20px;
}

.section-header p {
  color: var(--azul-obscuro);
  font-size: 18px;
  opacity: 0.7;
}

.ba-grid,
.tips-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.card {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: white;
  transition: var(--transition);
  cursor: pointer;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.16);
}

.destino-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.destino-content {
  padding: 24px;
}

.tipo-destino {
  display: inline-block;
  padding: 4px 12px;
  background-color: var(--celeste-claro);
  color: var(--azul);
  font-size: 12px;
  border-radius: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.destino-content h3 {
  color: var(--gris-obscuro);
  font-size: 26px;
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 12px;
}

.card-text {
  color: var(--gris-obscuro);
  opacity: 0.8;
  font-size: 16px;
}

.destino-info {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--verde-obscuro);
  font-weight: 500;
}

.section-buttons {
  text-align: center;
  margin-top: 40px;
}

.tip-card {
  padding: 32px 24px;
  text-align: center;
}

.tip-card i {
  font-size: 48px;
  color: var(--verde-obscuro);
  margin-bottom: 16px;
}



/* Footer */
footer {
  background-color: var(--azul-obscuro);
  color: var(--gris-claro);
  clear: both;
  text-align: center;
  padding: 10px 0;
}



/* RESPONSIVE – PANTALLAS MÁS CHICAS */
@media (max-width: 992px) {
  .ba-grid,
  .tips-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 600px) {
  .ba-grid,
  .tips-grid {
    grid-template-columns: 1fr;
  }
}