@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /*colores principales*/
  --verde-obscuro: #3c6e47;
  --verde-claro: #77a96f;
  --celeste-claro: #a9c5d0ae;
  --azul-claro: #92baf2;
  --azul: #1c65ca;
  --azul-obscuro: #0b2c5c;
  --arena: #efe3d4;
  --gris-claro: #ecedee;
  --gris-obscuro: #2e363c;

  /*colores para botones*/
  --celeste: #63a9e6;
  --celeste-hover: #377CC7;
  --texto-boton: #FFFFFF;

  /*colores para cards*/
  --card-arena: #f6efdd;


  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;

  --transition: all 0.3s ease;
}

body {
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 20px;
}

.holder {
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}



/*Navbar*/
.navbar {
  background: var(--verde-obscuro);
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 16px 0;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 32px;
}

.nav-links a {
  color: var(--gris-claro);
  text-decoration: none;
  font-weight: 500;
  display: block;
  text-align: center;
  padding: 8px 14px;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: var(--verde-claro);
}

.nav-links a.activo {
  color: var(--azul-obscuro);
  font-weight: 700;
}

.logo {
  font-family: var(--font-heading);
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--arena);
}





/* Footer */
footer {
  background-color: var(--azul-obscuro);
  color: var(--gris-claro);
  clear: both;
  text-align: center;
  padding: 10px 0;
}



/* RESPONSIVE – PANTALLAS MÁS CHICAS */
@media (max-width: 992px) {
  .ba-grid,
  .tips-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .ba-grid,
  .tips-grid {
    grid-template-columns: 1fr;
  }
}