/* Tips Section */
.tips {
  background-color: var(--arena);
  padding: 80px 0;
}

.section-header {
  text-align: center;
  margin-bottom: 60px;
}

.section-header h2 {
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.2;
  font-size: 42px;
  color: var(--verde-obscuro);
  margin-bottom: 16px;
  margin-top: 20px;
}

.section-header p {
  color: var(--verde-claro);
  font-size: 18px;
  opacity: 0.7;
}

/* cards*/
.tips-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.card {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: white;
  transition: var(--transition);
  cursor: pointer;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.16);
}

.card-text {
  color: var(--gris-obscuro);
  opacity: 0.8;
  font-size: 16px;
}

.tip-card {
  padding: 32px 24px;
  text-align: center;
}

.tip-card i {
  font-size: 48px;
  color: var(--verde-obscuro);
  margin-bottom: 16px;
}

.card-subtitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}

.card-first-subtitle {
  color: var(--gris-obscuro);
  font-family: var(--font-heading);
}

.card-second-subtitle {
  color: var(--verde-obscuro);
  font-size: 18px;
}

.card-text {
  font-family: var(--font-body);
  color: var(--gris-obscuro);
  font-size: 14px;
}



@media (max-width: 768px) {
  .fila {
    flex-direction: column;
  }
}